server:
  port: 8080
spring:
  #  应用名称（可选）
  application:
    name: reggie_take_out
  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/reggie?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      username: root
      password: root
  #  redis
  redis:
    host: 127.0.0.1
    port: 6379
    database: 1
  cache:
    redis:
      time-to-live: 1800000  #  设置缓存数据的过期时间
#  mybatis-plus
mybatis-plus:
  configuration:
    #在映射实体或者属性时，将数据库中表名和字段名中的下划线去掉，按照驼峰命名法映射
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: ASSIGN_ID


#  配置文件上传保存位置
reggie:
  path: D:/Program Files/Server_Stored/